@import url(//db.onlinewebfonts.com/c/ac9525e5f200f57332b3080d0db9d8f6?family=Sailec-Medium);
@font-face {font-family: "Sailec-Medium"; src: url("//db.onlinewebfonts.com/t/ac9525e5f200f57332b3080d0db9d8f6.eot"); src: url("//db.onlinewebfonts.com/t/ac9525e5f200f57332b3080d0db9d8f6.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/ac9525e5f200f57332b3080d0db9d8f6.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/ac9525e5f200f57332b3080d0db9d8f6.woff") format("woff"), url("//db.onlinewebfonts.com/t/ac9525e5f200f57332b3080d0db9d8f6.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/ac9525e5f200f57332b3080d0db9d8f6.svg#Sailec-Medium") format("svg"); }
/* Utility */
.darkblue {
  color: #031b4f;
}

.clearblue{
  color: #006aff;
}

.white{
  color: white;
}

.grey{
  color: #6f7b97;
}

.bg_clearblue{
  background-color: #006aff;
}

.bg_white{
  background-color: white;
}

.bg_grey{
  background-color: #f3f5f9;
}

.box_border_grey{
  border: 1px solid #eeeeee;
}

.border_0{
  border: 0px;
}

.margin_0{
  margin: 0px;
}

.padding_0{
  padding: 0px;
}

.text-underline{
  text-decoration: underline;
}

.pt-30{
  padding-top: 20px;
}

.pb-20{
  padding-bottom: 30px;
}

.my-40{
  margin-top: 40px;
  margin-bottom: 40px;
}

.my-60{
  margin-top: 60px;
  margin-bottom: 60px;
}

.mt-0{
  margin-top: 0;
}

.mt-35{
  margin-top: 35px;
}

.mt-40{
  margin-top: 40px;
}

.mt-50{
  margin-top: 50px;
}

.mt-60{
  margin-top: 60px;
}

.mb-20{
  margin-bottom: 20px;
}

.mb-30{
  margin-bottom: 30px;
}

.mb-40{
  margin-bottom: 40px;
}

.ml-80{
  margin-left: 80px;
}

.mb-70{
  margin-bottom: 70px;
}

.fw-500{
  font-weight: 500;
}

.fw-600{
  font-weight: 600;
}

/* Fine utility */
/* Navbar */
.navbar .container{
  padding: 5px 0;
}

.navbar-default {
  background-color: white;
  border: 0px;
}

.navbar-brand img{
  width: 160px;
  margin-top: -5px;
}

#sign_up{
  padding: 7px 10px;
  border: 1px solid #006aff;
  margin-top: 7px;
  color: #006aff;
}

#sign_up:hover{
  background-color: #006aff;
  color: white;
}

.navbar-default .navbar-nav > li > a{
 color: #031b4f;
}

.navbar-default .navbar-nav > li > a > span:hover {
  color: #006aff;
}

.navbar-default .navbar-nav > li > a:hover{
  color: #031b4f;
}

.navbar-default .navbar-toggle {
  border: 0px;
}

.navbar-default .navbar-toggle:hover {
  background-color: white;
}

/* Jumbotron */

.jumbotron{
  background-image: url(../img/jumbo_bg.svg);
  margin-top: 60px;
  margin-bottom: 0;
  background-size: cover;
  background-position: 45% 60%;
}

.jumbotron .row {
  padding-top: 70px;
}

.jumbotron h1{
  font-weight: 700;
  font-size: 65px;
}

.jumbotron h3{
  font-size: 30px;
  font-weight: 600;
}

.jumbotron p{
  font-size: 23px;
  color: lightgrey;
}

.jumbotron input{
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
}

.jumbotron form button {
  height: 30px;
  width: 100%;
  line-height: 30px;
  position: relative;
  margin-bottom: 10px;
}

.jumbotron form button div{
  position: absolute;
  left: 5%;
}

.jumbotron form button img{
  height: 15px;
}

.jumbotron .col-xs-12{
margin-top: -35px;
margin-bottom: 30px;
}

/* Sezione Brands */

#brands .card{
  width: 100%;
  height: 100%;
  position: relative;
}

#brands .card img{
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
}

#brands h4{
  font-size: 17px;
}
/* Fine Header */

/* Inizio Main */
/* Sezione Deploy con lista */
#deploy li{
  border-left: 2px solid #cccccc;
  list-style: none;
  font-size: 20px;
  padding: 10px 10px;
}


/* Mediaquery */

@media screen and (min-width: 768px) and (max-width: 992px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media screen and (max-width: 992px) {
  .jumbotron h1{
    font-weight: 700;
    font-size: 36px;
  }
}

@media screen and (max-width: 767.5px) {
  #brands .card{
    position: static;
  }

  #brands .card img{
    margin: auto;
    position: static;
    transform: translate(0);
  }

  #deploy ul{
    margin-left: -40px;
  }
}
