@import url(//db.onlinewebfonts.com/c/ac9525e5f200f57332b3080d0db9d8f6?family=Sailec-Medium);
@font-face {font-family: "Sailec-Medium"; src: url("//db.onlinewebfonts.com/t/ac9525e5f200f57332b3080d0db9d8f6.eot"); src: url("//db.onlinewebfonts.com/t/ac9525e5f200f57332b3080d0db9d8f6.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/ac9525e5f200f57332b3080d0db9d8f6.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/ac9525e5f200f57332b3080d0db9d8f6.woff") format("woff"), url("//db.onlinewebfonts.com/t/ac9525e5f200f57332b3080d0db9d8f6.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/ac9525e5f200f57332b3080d0db9d8f6.svg#Sailec-Medium") format("svg"); }
/* Utility */
.darkblue {
  color: #031b4f;
}

.clearblue{
  color: #006aff;
}

.white{
  color: white;
}

.bg_clearblue{
  background-color: #006aff;
}

.bg_white{
  background-color: white;
}

.my-40{
  margin-top: 40px;
  margin-bottom: 40px;
}

.mt-0{
  margin-top: 0;
}
/* Fine utility */
/* Inizio Navbar */
.navbar .container{
  padding: 15px 0;
}

.navbar-default {
  background-color: white;
  border: 0px;
}

.navbar-brand img{
  width: 140px;
  margin-top: -5px;
}

#sign_up{
  padding: 7px 10px;
  border: 1px solid #006aff;
  margin-top: 7px;
  color: #006aff;
}

#sign_up:hover{
  background-color: #006aff;
  color: white;
}

.navbar-default .navbar-nav > li > a{
 color: #031b4f;
}

.navbar-default .navbar-nav > li > a > span:hover {
  color: #006aff;
}

.navbar-default .navbar-nav > li > a:hover{
  color: #031b4f;
}

.navbar-default .navbar-toggle {
  border: 0px;
}

.navbar-default .navbar-toggle:hover {
  background-color: white;
}
/* Fine Navbar */
/* Inizio Jumbotron */

.jumbotron{
  background-image: url(../img/jumbo_bg.svg);
  margin-top: 80px;
  background-size: cover;
  background-position: 45% 60%;
}

.jumbotron h1{
  font-weight: 700;
  font-size: 65px;
}

.jumbotron p{
  font-size: 23px;
  color: lightgrey;
}

.jumbotron input{
  width: 100%;
  height: 40px;
  border: 1px solid lightgrey;
  margin-bottom: 10px;
}

.jumbotron form button {
  height: 30px;
  width: 100%;
  line-height: 30px;
  border: 0px;
  position: relative;
  margin-bottom: 10px;
}

.jumbotron form button div{
  position: absolute;
  left: 5%;
}

.jumbotron form button img{
  height: 15px;
}

/* Mediaquery */

@media screen and (min-width: 768px) and (max-width: 992px) {
  .nav > li > a {
      padding: 10px 7px;
      margin-top: 5px;
  }

@media screen and (width: 992px) {
    .nav > li > a {
      padding: 10px 15px;
      margin-top: 5px;
  }
}
